{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Cv creation</h1>

    <!-- Basic Form Wizard -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Nouveau CV</b></h4>
                                  


{{ form_start(form, { 'attr': { 'class': 'form-group clearfix' , 'id': 'basic-form' , novalidate: 'novalidate'} }) }}
 <div class="col-sm-12">
 <h3>Créer votre CV </h3>
 <section>
 <div>
        {{ form_row(form.templateID) }}
		{{ form_row(form.nomCv) }}
</div>
</section>
{% for section in templates.sections %}
	<h3 >{{ section.name }}</h3>
 <section>
 <div>
 <h4 class="sec" id="s{{ section.id }}" style="">{{ section.name }}</h4>
 {% for champ in section.champs %}
	{{ champ[0] }} : <input type="{{ champ[1] }}" name="{{ champ[0] }}" id="{{'s' ~ section.id ~ 'ch' ~ champ[3] }}" class="cls" /><br>
 {% endfor %}
 </div>
 </section>
{% endfor %}
 <h3>Valider et terminer </h3>
 <section>
 <div>
 <button  type="button" class="btn btn-success btn-rounded waves-light waves-effect w-md"  id="visualiser">visualiser</button>
		
		</div>
</section>
		</div>
    {{ form_end(form) }}

	
    
	</div>
	</div>
	</div>

    <ul>
        <li>
            <a href="{{ path('cv_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
$(document).ready( function () {

	
	$(".tmpl").val({{ id }});
	$('#visualiser').on('click',function(event){
			var array = ""
			$('#basic-form input, #basic-form textarea').each(
				function(index){  
					
					var input = $(this);
					if (input.attr('class') == "cls") {
						array +=  input.attr('id') + ":" +  input.val() + ";";
					}
				}
			);
			
			var arrayS = ""
			$('h4').find('.sec').each(
				
				function(index){  
					
					var h3 = $(this);
					
					arrayS +=  h3.attr('id') + ":" +  h3.text() + ";";
					
				}
			);

		});
    </script>
        {% endblock %}