 {% extends 'admin.html.twig' %}

{% block body %}
    <h1>Liste des sections</h1>
 <div class="row">
 
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h4 class="m-t-0 header-title"><b>Table de section</b></h4>
                                    <p class="text-muted font-14 m-b-30">
 

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de section</th>
                <th>Actions</th>
            </tr>
        </thead>

 <tbody>
        {% for section in sections %}
            <tr>
            
            


                <td><a href="{{ path('section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                <td>{{ section.nomSection }}</td>
                <td>
                    
                        
                            <a href="{{ path('section_show', { 'id': section.id }) }}">
                            <i class="fi-eye"></i> Afficher</a>
                        
                         <a href="{{ path('section_edit', { 'id': section.id }) }}">
                            <i class=" dripicons-pencil"></i>Modifier</a>
                        
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end row -->


    <div >
        
            <a href="{{ path('section_new') }}"class="btn btn-success btn-rounded waves-light waves-effect w-md">Creer nouvelle section</a>
   
    </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            } );

        </script>
{% endblock %}

