{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Users list</h1>

     <table id="datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Date_naissance</th>
                <th>Phone_number</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.sexe }}</td>
                <td>{% if user.datenaissance %}{{ user.datenaissance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.phonenumber }}</td>
             							    

                <td><img src="{{ asset ('public/uploads/avatars/' ~ app.user.avatar) }}" style="width:30%" alt="avatar" class="rounded-circle"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
