{% extends 'admin.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ user.sexe }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{% if user.datenaissance %}{{ user.datenaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ user.phonenumber }}</td>
            </tr>
            <tr>
                <th>Facebookid</th>
                <td>{{ user.facebookID }}</td>
            </tr>
            <tr>
                <th>Googleid</th>
                <td>{{ user.googleID }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
<td><img src="{{ asset ('public/uploads/avatars/' ~ app.user.avatar) }}" style="width:30%" alt="avatar" class="img-rounded"></td>            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
